<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>ZaikoShare利用規約</p>
  </div>
  <%= image_tag "logob200.png", class:"second-fotter-logo"%>
</footer>